#Home .EditPost {
  display: none;
}

#Home li:first-child .Post {
  margin-top: 45px;
}

@media screen and (min-width: 540px) {
  #Home .EditPost {
    display: block;
  }

  /* #Home .EditPost .wrapper {
    padding: 15px;
  } */

  #Home li:first-child .Post {
    margin-top: 0;
  }
}

@media screen and (min-width: 769px) {
  #Home .EditPost {
    border-radius: 10px;
  }
}

@media screen and (min-width: 992px) {
  #Home .EditPost {
    margin-top: 80px;
  }
}
