.Navbar {
  position: fixed;
  bottom: 0;
  border-top: 1px solid #ccc;
  width: 100%;
  min-width: 320px;
  height: 50px;
  background-color: #fff;
}

.Navbar .NavList {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.Navbar .NavLink {
  color: #92bdff;
  font-size: 18px;
}

.Navbar .active {
  color: #0065fc;
  cursor: default;
}

.Navbar .Avatar {
  width: 20px;
  height: 20px;
}

@media screen and (min-width: 540px) {
  .Navbar #edit-post {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .Navbar {
    display: none;
  }
}

.DropMenu {
  position: relative;
  display: inline-block;
}

.DropList {
  position: absolute;
  z-index: 1;
  display: none;
  background-color: #fff;
}

.DropItem {
  padding: 5px 10px;
  width: 147px;
  text-align: center;
  cursor: pointer;
}

.DropLink {
  color: inherit;
}

.DropMenu:hover .DropList {
  display: block;
}

.DropItem:hover {
  background-color: #deebff;
}

.Navbar .DropList {
  top: -57px;
  right: 0;
}

.Header .DropList {
  top: 73px;
  right: -15px;
}

