.Post {
  margin: 0 auto 15px;
  width: 768px;
  max-width: 100%;
  background-color: #fff;
  box-shadow: 0 3px 15px #0000001a;
}

.textarea {
  overflow: hidden;
  line-break: auto;
  border: none;
  width: 100%;
  height: 57px;
  resize: none;
  line-height: 1.5;
}

.Post .btn {
  background-color: inherit;
}

li:last-child .Post {
  margin-bottom: 60px;
}

.PostHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.PostUserLink {
  display: flex;
}

.PostHeading .Avatar {
  margin-right: 20px;
}

.PostUserHeading {
  color: #4e5166;
}

.PostUserHeading .fullname {
  margin-bottom: 5px;
}

.PostButtonMenu {
  margin-right: 10px;
}


.PostMenu .btn {
  margin-left: 15px;
}

.PostMenu .btn:last-child {
  margin-right: 10px;
}

.PostMenu .btn.modify:hover {
  color: #0065fc;
}

.PostMenu .btn.delete:hover {
  color: #fd2d01;
}

.PostMenu .btn.cancel:hover {
  color: #4e5166;
}


.PostBody {
  max-width: 100%;
}

.PostBody .attachment {
  width: 100%;
  max-height: 576px;
  object-fit: cover;
}

.PostBody .content {
  padding: 15px;
  color: #4e5166;
  font-size: 18px;
  line-height: 1.5;
}


.PostFooter {
  padding: 10px 20px 20px;
}

.PostIcons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.PostIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.PostIcon .btn {
  font-size: 20px;
  cursor: pointer;
}

.PostIcon .btn:hover {
  color: #666;
}

.PostIcon .fa-solid.fa-heart {
  color: #fd2201;
}

.PostIcon .fa-regular.fa-heart:hover {
  color: #fd2201;
}

.PostIcon .fa-solid.fa-comment {
  color: #4e5166;
}

.PostIcon .fa-regular.fa-comment:hover {
  color: #4e5166;
}

.PostIcon span {
  margin-left: 7px;
}

.Post .timestamp {
  color: #4e5166;
  font-size: 12px;
  text-align: right;
  text-transform: uppercase;
}


.PostIsUpdated {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.PostIsUpdated .btn {
  padding: 7px 15px;
}

.PostIsUpdated .btn.submit {
  margin-left: 10px;
  background-color: #0065fc;
  color: #fff;
}

.PostIsUpdated .btn.secondary {
  background-color: #ddd;
}



.PostComments {
  border-top: 1px solid #eee;
  padding: 15px;
}

.CommentItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0 10px;
  border-radius: 15px;
  padding: 15px;
  background-color: #eee;
  font-size: 14px;
}

.CommentItem .content {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.CommentItem .Avatar {
  margin-right: 15px;
  width: 25px;
  height: 25px;
}

.CommentItem .comment {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  width: 100%;
}

.CommentItem .comment .fullname {
  margin-right: 10px;
}

.CommentItem .comment .content {
  text-align: left;
}

.CommentItem .textarea {
  height: 20px;
  background-color: #ddd;
}

.CommentMenu {
  display: flex;
}

.CommentMenu .btn {
  color: #eee;
}

.CommentItem:hover .btn {
  color: #4e5166;
}

.CommentItem .btn:last-child {
  margin-left: 5px;
}

@media screen and (min-width: 769px) {
  .Post {
    border: 1px solid #ddd;
    border-radius: 10px;
  }
}


.EditPost {
  padding-top: 50px;
  width: 768px;
  max-width: 100%;
  height: 100vh;
  background-color: #fff;
  box-shadow: 0 3px 15px #0000001a;
}

.EditPost .content {
  width: 100%;
}

.EditPost .textarea.content:focus {
  outline: none;
}

.EditPost .btn.upload {
  display: inline-block;
  text-align: center;
}

.EditPost .btn.cancel .fa-xmark {
  margin-left: 5px;
}

@media screen and (min-width: 540px) {
  .EditPost {
    margin: 50px auto 25px;
    padding: 0;
    height: auto;
    background-color: #fff;
    box-shadow: 0 3px 15px #0000001a;
  }
}

@media screen and (min-width: 992px) {
  .EditPost {
    margin: 15px auto 25px;
    border-radius: 10px;
    padding: 0;
    background-color: #fff;
    box-shadow: 0 3px 15px #0000001a;
  }
}
